<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<meta charset="utf-8">
	<title>BBQ-Control</title>
</head>

<body>
	<h1>BBQ-Control</h1>
	<div>
		<p>
			<label>Set Temperature: </label>
			<form action="" method="POST">
	    		<input type="text" value="120" align="absmiddle" style="width: 38px" name="settemp">
    		    <input type="submit" value="Submit">
			</form>
			<label id="settedtemp"></label>
		</p>
		<p>
			<label>Actual Temperature: {{actualtemp}}</label>
		</p>
		<p>

		</p>
	</div>
</body>

</html>